<p><{$xasset_navigation}> </p>
<h4>
  <p>Please read the attached xasset.hlp file in the docs directory very carefully. Although xAsset is simpler to use when compared to OsCommerce it still requires a good knowledge of how it works to utilise its full potential.</p>
  <p>Please visit the dedicated the <a href="http://www.xprojects.co.uk">xProjects</a> website and post any questions or suggestions you may have in our forums.</p>
  <p>If you discover a bug then please report it by raising a defect report in the <a href="http://xprojects.co.uk/modules/xproject/index.php?op=newTicket&pid=2" target="_blank">xAsset Dev Tracker</a>.</p>
  <p>If you have any support issues then register on the <a href="http://www.xprojects.co.uk">xProjects</a> website and visit the<a href="http://xprojects.co.uk/modules/newbb/" target="_blank"> xAsset support forums</a>.</p>
  <p>xAsset is release under the GPL. Please consider supporting this project by buying the PDF manual from the <a href="http://xprojects.co.uk/modules/xasset/index.php?op=product&id=2&key=fcec1">xProjects xAsset store</a>.</p>
</h4>
