<{$xasset_navigation}>
<table width="100%"  border="0" cellspacing="0" cellpadding="0" class="outer">
  <tr>
    <td class="head">Applications</td>
    <td class="even"><{$xasset_index.applications}></td>
  </tr>
  <tr>
    <td class="head">Licenses</td>
    <td class="even"><{$xasset_index.licenses}></td>
  </tr>
  <tr>
    <td class="head">Files</td>
    <td class="even"><{$xasset_index.files}></td>
  </tr>
  <tr>
    <td class="head">Links</td>
    <td class="even"><{$xasset_index.links}></td>
  </tr>
  <tr>
    <td class="head">Downloads</td>
    <td class="even"><{$xasset_index.downloads}></td>
  </tr>
</table>
<br><p><br />
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="outer">
  <tr>
    <th colspan="2">Server Connectivity Test</th>
  </tr>
  <tr>
    <td class="even">Outgoing SSL Support?</td>
    <td class="odd"><{if $xasset_test.pass}>Yes<{else}>Failed with codes: errnum:<{$xasset_test.errnum}> and errstr:<{$xasset_test.errstr}><{/if}></td>
  </tr>
</table>
<p>&nbsp;</p>
