<br> 
<table align="center" class="mainTable" style="width:70%"> 
  <tr> 
    <td colspan="2" class="head">Application License for <{$xasset_application}> </td> 
  </tr> 
  <tr> 
    <td class="head">Key</td> 
    <td class="even"><{$xasset_license.key}></td> 
  </tr> 
  <tr> 
    <td class="head">Authorising Code</td> 
    <td class="even"><{$xasset_license.authCode}></td> 
  </tr> 
  <tr> 
    <td class="head">Date Issued </td> 
    <td class="even"><{$xasset_license.dateIssued}></td> 
  </tr> 
  <tr> 
    <td class="head">Expires</td> 
    <td class="even"><{$xasset_license.expires}></td> 
  </tr> 
</table>
